/* Both Pages */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(images/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #426b1f;

  margin: 0;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 100px 1fr 100px;
}

button {
  border-color: black;
}

/* Landing Page */
#landingTitle, #landingPlayGame {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 45px 0 0 0;
  text-align: center;
  font-weight: bolder;
}

#playGameButton {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  text-align: center;
  background-color: red;
  color: white;
  border-radius: 100%;
}

#playGameButton:hover {
  background-color: darkred;
}

#landingTitle {
  font-size: 80px;
}

/* Game Page */
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  padding: 10px;
}

aside {

}

main {

}

#gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.gameboardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #426b1f solid 1px;
  height: 100px;
  width: 100px;
  margin: 10px;
  background-color: lightblue;
}

footer {
  display: flex;
  justify-content:  center;
  align-items: center;
}

#game div {
  padding: 10px;
}

#game button {
  background-color: red;
  color: white;
  padding: 5px;
}

#game button:hover {
  background-color: darkred;
}

#game #startGameButton {
  background-color: green;
}

#game #startGameButton:hover {
  background-color: limegreen;
}

header, footer {
  grid-column: span 3;
}