/* Both Pages */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(images/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #426b1f;

  margin: 0;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 610px 1fr;
  grid-template-rows: 100px 610px 1fr;
}

button {
  border-color: black;
}

/* Landing Page */
/* Text */
#landingTitle, #landingPlayGame {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 45px 0 0 0;
  text-align: center;
  font-weight: bolder;
}

#landingTitle {
  font-size: 75px;
}

/* Button */
#playGameButton {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  text-align: center;
  background-color: red;
  color: white;
  border-radius: 100%;
}

#playGameButton:hover {
  background-color: darkred;
}

/* Game Page */
/* Header */
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  padding: 10px;
}

/* Board */
#boardgame {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.boardgameBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 50%;
}

.boardgameBox img {
  height: 100px;
  width: 100px;
  pointer-events: none;
}

/* Footer */
footer {
  display: flex, grid;
  justify-content:  center;
  align-items: center;
  padding: 10px;
  grid-template-rows: 2fr;
}

#game div {
  padding: 10px;
}

/* Buttons */
#game button {
  padding: 5px;
}

#game #resetGameButton {
  background-color: red;
  color: black;
}

#game #resetGameButton:hover {
  background-color: darkred;
  color: white;
}

#game #homeButton {
  background-color: blue;
  color: white;
}

#game #homeButton:hover {
  background-color: lightblue;
  color: black;
}

#game #startGameButton, #game #startOverButton  {
  background-color: green;
  color: white;
}

#game #startGameButton:hover, #game #startOverButton:hover {
  background-color: limegreen;
  color: black;
}

/* Scores */
footer #scores {
  font-weight: bolder;
  font-size: 25px;
  padding: 0;
}

footer #highScoreTitle, footer #scoreTitle, footer #highScoreText, footer #scoreText {
  padding: 5px;
}

/* Shared */
header, footer {
  grid-column: span 3;
}

#scores, #buttons {
  display: flex;
  grid-row: span 1;
  justify-content:  center;
  align-items: center;
}

/* Sides */
aside {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}